.container{
    display: flex;
    justify-content: space-around;
}
.humanGrid{
    border: 2px solid black;
    display: flex;
    width: 720px;
    height: 720px;
    flex-direction: column;
}
.computerGrid{
    border: 2px solid black;
    display: flex;
    width: 720px;
    height: 720px;
    flex-direction: column;
}
.col{
    cursor: crosshair;
}
.computerGrid .col:hover{
    background-color: hsla(187, 89%, 36%, 0.884);
}